In [1]:
#guide here: postgresqltutorial.com/postgresql-python/connect/
import psycopg2 as pc

In [2]:
conn = pc.connect("dbname=book_example user=nathan password=matrix86")

In [3]:
# create a cursor
cur = conn.cursor()
print('PostgreSQL database version:')
cur.execute('SELECT version()')
db_version = cur.fetchone()
print(db_version)

PostgreSQL database version:
('PostgreSQL 14.6 (Homebrew) on x86_64-apple-darwin21.6.0, compiled by Apple clang version 14.0.0 (clang-1400.0.29.202), 64-bit',)

In [4]:
query = "DROP TABLE IF EXISTS books"
cur.execute(query)
query = "DROP TABLE IF EXISTS authors"
cur.execute(query)
query = "DROP TABLE IF EXISTS editors"
cur.execute(query)
query = "DROP TABLE IF EXISTS translators"
cur.execute(query)

In [5]:
# close the communication with the PostgreSQL

In [6]:
#multi-line string
query = """CREATE TABLE authors (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL

)"""
cur.execute(query)

query = """CREATE TABLE editors (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL
)"""
cur.execute(query)

query = """CREATE TABLE translators (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL

)"""
cur.execute(query)

query = """CREATE TABLE books (
    id SERIAL PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    type VARCHAR(255) NOT NULL,
    author_id INTEGER NOT NULL,
    editor_id INTEGER NOT NULL,
    translator_id INTEGER NOT NULL,
    FOREIGN KEY (author_id)
        REFERENCES authors (id),
    FOREIGN KEY (editor_id)
        REFERENCES editors (id),
    FOREIGN KEY (translator_id)
        REFERENCES translators (id)
)"""
cur.execute(query)

In [7]:
query = """INSERT INTO authors (id, first_name, last_name) VALUES
    ('11', 'Nathan', 'Crabtree'),
    ('12', 'Zoe', 'Calloway')"""
cur.execute(query)

In [8]:
query = """INSERT INTO editors (id, first_name, last_name) VALUES
    ('21', 'Jamie', 'Calloway'),
    ('22', Mark', 'Crabtree')"""
cur.execute(query)
query = """INSERT INTO translators (first_name, last_name) VALUES
    ('31', 'Ezekiel', 'Sanchez'),
    ('32', 'Henry', 'Ferguson')"""
cur.execute(query)

In [9]:
query = """INSERT INTO books (title, type, author_id, editor_id, translator_id) VALUES
    ('A Book', 'Fiction', 11, 2, 2),
    ('Another Book', 'Science', 12, 1, 1)"""
cur.execute(query)

In [10]:
query = """SELECT b.id, b.title, b.type, t.last_name AS translator
FROM books b
JOIN translators t
ON b.translator_id = t.id
ORDER BY b.id;"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print("Id = ", row[0], )
    print("Title = ", row[1])
    print("Type  = ", row[2], "\n")
    print("Translater  = ", row[3], "\n")

Id =  1
Title =  A Book
Type  =  Fiction

Translater  =  Ferguson

Id =  2
Title =  Another Book
Type  =  Science

Translater  =  Sanchez

In [11]:
query = """SELECT b.id, b.title, a.first_name, a.last_name
FROM books b
INNER JOIN authors a
ON b.author_id = a.id
ORDER BY b.id;"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print("Id = ", row[0], )
    print("Title = ", row[1])
    print("First Name  = ", row[2], "\n")
    print("Last Name  = ", row[3], "\n")

Id =  1
Title =  A Book
First Name  =  Nathan

Last Name  =  Crabtree

Id =  2
Title =  Another Book
First Name  =  Zoe

Last Name  =  Calloway

In [12]:
query = """SELECT b.id, b.title, b.type, a.last_name AS author,
 t.last_name AS translator
FROM books b
LEFT JOIN authors a
ON b.author_id = a.id
LEFT JOIN translators t
ON b.translator_id = t.id
ORDER BY b.id;"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print("Id = ", row[0], )
    print("Title = ", row[1])
    print("Type  = ", row[2], "\n")
    print("Author  = ", row[3], "\n")
    print("Translator  = ", row[4], "\n")

Id =  1
Title =  A Book
Type  =  Fiction

Author  =  Crabtree

Translator  =  Ferguson

Id =  2
Title =  Another Book
Type  =  Science

Author  =  Calloway

Translator  =  Sanchez

In [13]:
query = """SELECT b.id, b.title, e.last_name AS editor
FROM books b
LEFT JOIN editors e
ON b.editor_id = e.id
ORDER BY b.id;"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print("Id = ", row[0], )
    print("Title = ", row[1])
    print("Editor  = ", row[2], "\n")

Id =  1
Title =  A Book
Editor  =  Crabtree

Id =  2
Title =  Another Book
Editor  =  Calloway

In [14]:
query = """SELECT b.id, b.title, e.last_name AS editor
FROM books b
RIGHT JOIN editors e
ON b.editor_id = e.id
ORDER BY b.id;"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print("Id = ", row[0], )
    print("Title = ", row[1])
    print("Editor  = ", row[2], "\n")

Id =  1
Title =  A Book
Editor  =  Crabtree

Id =  2
Title =  Another Book
Editor  =  Calloway

In [15]:
query = """SELECT b.id, b.title, e.last_name AS editor
FROM books b
FULL JOIN editors e
ON b.editor_id = e.id
ORDER BY b.id;"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print("Id = ", row[0], )
    print("Title = ", row[1])
    print("Editor  = ", row[2], "\n")

Id =  1
Title =  A Book
Editor  =  Crabtree

Id =  2
Title =  Another Book
Editor  =  Calloway

In [16]:
cur.close()

In [17]:
#commit the changes
conn.commit()